body {
    background-color: #f5f5f5ce;
}

li a {
    color: black;
}

.navbar-brand {
    margin-left: 16%;
}

.move-right {
    margin-left: 15%;
}

#poll-container {
    margin-top: 20px;
    border-bottom: 1px solid #D3D3D3;
}

#home-button {
    margin-top: 2px;
}
#search-box {
    margin-top: 3px;
    margin-bottom: 3px !important
}
#result-button {
    margin-top: -10px;
    margin-bottom: 10px;
    float: right;
}
#vote-btn-vote {
    margin-top: 25px;
    margin-bottom: -25px;
    margin-left: -5px;
}
#vote-btn-result {
    margin-left: 15px;
}

#choice-list {
    border-right: 2px solid #D3D3D3;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #E9E9E9;
    word-wrap: break-word;
}

#vote-list {
    border-top: 1px solid #E9E9E9;
}

#text-break {
    word-wrap: break-word;
}

#choice-head{
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}

#vote-head{
    border-bottom: 2px solid #D3D3D3;
}