body {
    background-color: #f5f5f5ce;
}

li a {
    color: black;
}

.navbar-brand {
    margin-left: 16%;
}

.move-right {
    margin-left: 15%;
}

#result-home {
    float: right;
}

#poll-container {
    margin-top: 20px;
    border-bottom: 1px solid #D3D3D3;
}

#home-button {
    margin-top: 2px;
}
#search-box {
    margin-top: 3px;
    margin-bottom: 3px !important
}
#result-button {
    margin-bottom: 5px;
}